[Desktop Entry]
Name=bstamp
Comment=bstamp app
Exec=bstamp
Icon=${SNAP}/gui/bstamp.png # replace name to your app name
Terminal=false
Type=Application
Categories=Utility; #adjust accordingly your snap category
